/* Custom Styles */
body {
  font-family: "Arial", sans-serif;
  background-color: var(--bg-color);
  color: var(--text-color);
}

:root {
  --bg-color: #fff;
  --text-color: #1a1a1a;
  --border-color: #000000;
  --button-bg: #1a1a1a;
  --button-text: #fff;
  --bg-primary: #6b7f7d;
  --bg-secondary: #8fa3a1;
  --bg-gradient-from: #b3bfbd;
  --bg-gradient-to: #8fa3a1;
  --text-primary: #7a7a7a;
  --text-white: #ffffff;
  --bg-white: #ffffff;
  --bg-blue: #3b82f6;
  --bg-gray-200: #e5e7eb;
  --text-blue: #3b82f6;
  --text-red: #ef4444;
  --hover-text-blue: #1d4ed8;
  --hover-text-red: #b91c1c;
}

@media (max-width: 640px) {
  .login-container {
    padding: 1rem;
    width: 90%;
  }
}

.active{
  display: block;
  width: 50vw;
  height: 50vh;
  background: white;
  border-radius: 25%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}

